body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    /* background-color: #e554731a; */
    position: relative;

}
nav {
    width: 100%;
    background-color:#f6e3e7; 
    box-shadow: 2px 2px 10px #E55473;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: fixed;
    height: 80px;
    box-sizing: border-box;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    padding: 10px ;

    align-items: center;
}

.logo h3 {
    color: #E55473;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo span {
    color: #000000;
}

.nav-item ul {
    display: flex;
    justify-content: flex-start;
}

.nav-item li {
    list-style: none;
    margin: 5px 20px;
    align-items: center;
}

.nav-item li a {
    text-decoration: none;
    color: #E55473;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subscribe-button  {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    border-radius: 8px;
    background-color: #E55473;
    padding: 10px 30px;
    border: none;
     margin-left:20px ;
}
.subscribe-button a {
    text-decoration: none;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-item li a:hover{
    color: #474747;

}

.hero-section {
    margin: 0px;
    width: 100%;
    height: 800px;
    background-color: #e554731a;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.content-container h1 {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
}

.hero-section-desc {
    width: 634px;
    margin-top: 0px;
    padding-top: 0px;
}

.class-p p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
}

.btn-magenta button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    
}

.cover-img-container {
    padding-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.cover-img-container img {
    height: 700px;
    margin-bottom: -3px;
}


/* -----------------------------------------cover section ends------------------------------------ */


/* --------------------------------featured-flower section starts--------------------------------- */

.featured-flower-section {
    width: 1300px;
    height: 850px;
    margin: auto;
}

.ff-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ff-content h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.ff-content p {
    width: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px ;
    
}

.featured-flower-imgs {
    width: 1300px;
    height: 550px;
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: center;
    
}

.f-flower-subpart {
    width: 434px;
    height: 538px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.ff-img-section{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    width:390px;
    height: 420px;
    padding-top: 100px;
    box-sizing: border-box;

}

.ff-img-section img {
    width: 260px;
    height: 320px;
    /* margin-bottom: -1000px;
    padding-bottom: -50px; */
    
}


#ff-img-1{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
#ff-img-2{
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
#ff-img-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.ff-img-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
/* --------------------------------featured-flower section ends------------------------------------ */
/*------------------------------------ service section starts----------------------------------------- */

.service-section{
    
    width: 1300px;
    margin: auto;
    margin-bottom: 128px;
    height: 320px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

}
.sevice{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.srvice-img img{
    width: 88px;
height: 88px;

}
.service-content p{
    
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}

/*------------------------------------ service section starts----------------------------------------- */
/* -------------------------------------sale section starts----------------------------------------- */

.sale-section {
    width: 100%;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    box-sizing: border-box;
    align-items: center;
}

.sale-section-content {
    text-align: center;
    width: 594px;
}


/* -------------------------------------sale section ends----------------------------------------- */
/* -- -------------------------------Instagram Section starts-------------------------------------------------  */

.insta-section {
    width: 1300px;
    margin: 20px auto 100px;
    text-align: center;
}

.insta-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.insta-content {
    margin: auto;
    width: 500px;
    text-align: center;
}

.insta-image-div img {
    width: 300px;
    height: 330px;
}
/* -- -------------------------------Instagram Section ends------------------------------------  */
/* -------------------------Latest Deals Section starts------------------------------------ */
.deals-section{
    width: 100%;
    height: 449px;
    background-image: url(Flower_Asset/Rectangle_9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.deals-section h1{
    margin-top: -10px;
    font-size: 40px;
}

.deals-section p{
    margin-top: -15px;

}
.email-section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.email-box input[type=email]
{
    width: 800px;
    height: 64px;
    padding: 15px 10px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    box-sizing: border-box;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


/* --------------Latest Deals Section ends------------------------ */

/* Customer Reviews starts -------------------------------*/
.customer-review{
    margin-top: 100px;
}
.review-desc h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}
.review-desc p{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.client-review-section{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review{
    background-color:#f2dadf; 
    color: #E55473;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:420px;
    height: 450px;
    padding: 30px 30px;
    box-sizing: border-box;
    margin: 10px 20px;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
}

.r-img-section img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white border;
    margin-top: -100px;
}
.review-content {
    
width:390px;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.review-content h1{
    
    width:390px;
    color: rgba(39, 39, 39, 0.90);
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    
    }
    .review:hover{
        background-color:#E55473;
        color: #FFFFFF;
    }
    .review:hover h1{
        
        color: #FFFFFF;
    }
    .review:hover p{
        
        color: #FFFFFF;
    }

/* --------------Footer Section starts------------------------ */

.footer-section{
    margin: 0px;
    margin-top: 120px;
    width:100%;
    height: 449px;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E55473;
}
.footer-h1 h1{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer-h1 span{
    color: #FFFFFF;

}
.footer-p1{
    width: 625px;
}
.footer-p1 p{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.footer-p2{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* --------------Footer Section ends------------------------ */