.hero-section {
    margin: 0px;
    width: 100%;
    height: 800px;
    background-color: rgba(229, 84, 115, 0.10);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-container h1 {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
}

.hero-section-desc {
    width: 634px;
    margin-top: 0px;
    padding-top: 0px;
}

.content-container p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
}

.content-container button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
}

.cover-img-container {
    padding-top: 100px;
    /* width: 560px; */
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.cover-img-container img {
    /* width: 560px; */
    height: 700px;
}